apiVersion: v1
kind: Service
metadata:
  name: spring-boot-nodeport
  namespace: default
  labels:
    app: spring-boot-app
spec:
  type: NodePort
  selector:
    app: spring-boot-app
  ports:
  - name: http
    port: 8080
    targetPort: 8080
    nodePort: 30080
    protocol: TCP

