apiVersion: apps/v1
kind: Deployment
metadata:
  name: springboot-app
  namespace: springboot-demo
spec:
  replicas: 2
  selector:
    matchLabels:
      app: springboot-app
  template:
    metadata:
      labels:
        app: springboot-app
    spec:
      imagePullSecrets:
        - name: dockerhub-secret
      containers:
        - name: spring-boot
          image: nguyenphong8852/springboot-k8s-demo:dev-latest
          ports:
            - containerPort: 8080
